algorithmia==1.0.5
ChatterBot==0.4.10
click==6.6
enum34==1.1.6
Flask==0.11.1
Flask-MySQL==1.4.0
future==0.15.2
fuzzywuzzy==0.12.0
httplib2==0.9.2
itsdangerous==0.24
Jinja2==2.8
jsondatabase==0.1.1
MarkupSafe==0.23
nltk==3.2.1
oauthlib==2.0.0
plivo==0.11.1
pymongo==3.3.0
PyMySQL==0.7.9
PySocks==1.5.7
-e git://github.com/mikexstudios/python-firebase.git@fc0597aafb1cb83c76e039370b1e0e180322f0e0#egg=python_firebase
python-twitter==3.1
pytz==2016.7
requests==2.11.1
requests-oauthlib==0.7.0
six==1.10.0
textblob==0.11.1
twilio==5.6.0
Werkzeug==0.11.11
