<!DOCTYPE html>
<html>
<head>
	<title>Ahuna Bot - How are you doing?</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
	<link rel="icon" type="image/png" href="/static/img/favicon.png" />
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="/static/app.js"></script>
	<script src="https://use.fontawesome.com/6d01efcfaa.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:800" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body ng-app="ahunaApp" ng-controller="MainCtrl" class="container" background="/static/img/background.jpg">
	<h1 style = "padding-top: 350px;">Welcome to Ahuna Bot!</h1>
	<a href="/login"><button id="log-in">Log In</button></a>
	<a href="/signup"><button id="sign-in">Sign Up</button></a>
	<div id="footer">
		<h2>Ahuna Bot is available via SMS!</h2>
		<p>Text Ahuna Bot at (253)343-9145!</p>
	</div>
</body>
</html>
