<!DOCTYPE html>
<html>
<head>
	<title>Ahuna Bot - How are you doing?</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="../static/app.js"></script>
	<script src="https://use.fontawesome.com/6d01efcfaa.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:800" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body ng-app="ahunaApp" ng-controller="MainCtrl" class="container" background="background.jpg">
	<h1 style = "padding-top: 250px;">Welcome to Ahuna-Bot!</h1>
	<form id="log" action="demo_form.asp">
  		<input id="textbox" type="text" name="fname" placeholder="Username"><br>
  		<input id="textbox" type="password" name="pword" placeholder="Password"><br>
  		<a href="file:///C:/Users/Madeleine%20Le/Desktop/DubHacks%202016/ahuna-bot/templates/index.html"><button id="log-in" style="width: 100px;">Log in</button>
	</form>
</body>
</html>
